@model Meme.Models.MemeModel
@{
    ViewBag.Title = "Home";
}

<head>
    <meta charset="ISO-8859-1">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/13deb536c6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../Content/style1.css">
</head>

<body>
    <div class="font">
        <div class="container-fluid">


            <a href="~/Upload.aspx">
                <div class="post-button btn btn-primary"><i class="fa-solid fa-plus fa-sm"></i>&nbsp;&nbsp;Post</div>
            </a>



            @if (Model.eachMeme != null)
            {
                for (int i = 0; i < Model.eachMeme.Count; i++)
                {
        <div class="postcard">
            <a href="Home/Profile?uid=@Model.eachMeme[i].uid">
                <div class="postersname">@Model.eachMeme[i].poster_name</div>
            </a>
            <div class="posttitle">@Model.eachMeme[i].meme_title</div>

            @if (Model.eachMeme[i].type)
            {
                <video src="../@Model.eachMeme[i].address" controls />

            }
            else
            {
                <img src="../@Model.eachMeme[i].address">
            }
        </div>
                }
            }

        </div>

        </div>
    </body>

